:root {
  --color-primary-violet: hsl(237, 63%, 64%);
  --color-secondary-violet: hsl(236, 72%, 79%);
  --color-gray-lighter: hsl(240, 78%, 98%);
  --color-gray-light: hsl(234, 14%, 74%);
  --color-gray-dark: hsl(233, 13%, 49%);
  --color-gray-darker: hsl(232, 13%, 33%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: url("./img/bg-bottom.svg"), url("./img/bg-top.svg");
  background-repeat: no-repeat, no-repeat;
  color: var(--color-gray-dark); }

ul {
  list-style: none; }

button {
  border: none;
  cursor: pointer; }

#root {
  height: 100vh;
  padding: 8rem 0;
  background-color: var(--color-gray-lighter); }

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem; }

.header__button-container {
  display: flex;
  align-items: center; }
  .header__button-container > *:not(:last-child) {
    margin-right: 1.4rem; }

.header__span-anually, .header__span-monthly {
  color: var(--color-gray-light);
  font-size: 1.3rem; }

.main__price-cards {
  display: flex;
  justify-content: center;
  align-items: center; }

.main__price-card {
  text-align: center;
  padding: 4rem 3rem;
  background-color: #fff; }
  .main__price-card > *:not(:last-child) {
    margin-bottom: 2.5rem; }
  .main__price-card--left {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem; }
  .main__price-card--center {
    height: 100%;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    background-image: linear-gradient(to bottom, var(--color-secondary-violet), var(--color-primary-violet));
    border-radius: 0.7rem; }
    .main__price-card--center > *,
    .main__price-card--center p {
      color: #fff; }
    .main__price-card--center > .btn-list {
      background-image: none;
      background-color: #fff;
      color: var(--color-primary-violet); }
  .main__price-card--right {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem; }

.main__price {
  color: var(--color-gray-darker);
  font-size: 6vw;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 1200px) {
    .main__price {
      font-size: 7rem; } }

.main__currency {
  font-size: 4.5rem;
  margin-right: 0.8rem; }

.main__list {
  border-top: 0.1rem solid #ddd; }

.main__list-item {
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid #ddd; }

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto; }

.theme-toggler-container {
  display: inline-block;
  height: 2.6rem;
  width: 4.5rem;
  background-image: linear-gradient(to right, var(--color-secondary-violet), var(--color-primary-violet));
  border-radius: 4rem;
  position: relative; }

.btn-theme {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%); }

.btn-list {
  padding: 1rem 0;
  width: 100%;
  background-image: linear-gradient(to right, var(--color-secondary-violet), var(--color-primary-violet));
  border-radius: 0.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: #fff; }

.u-mb-m {
  margin-bottom: 3rem; }
